<form class="form mat-elevation-z8">
    <h1>Edição de Produtos</h1>
    <mat-form-field class="full-width">
        <mat-label>Nome do Produto</mat-label>
        <input [(ngModel)]="produtos.produto" [formControl]="produto" required maxlength="100" name="produto" matInput placeholder="Ex. de nomes de produtos">
        <mat-error *ngIf="produto.invalid">{{ errorValidName() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Estoque</mat-label>
        <input [(ngModel)]="produtos.quantidade" [formControl]="quantidade" required name="quantidade" matInput placeholder="Ex. de quantidade de produtos" type="number">
        <mat-error *ngIf="quantidade.invalid">{{ errorValidQuantida() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Valor do Produto</mat-label>
        <input [(ngModel)]="produtos.valor" [formControl]="valor" required name="valor" matInput placeholder="Colocar valor do produto">
        <mat-error *ngIf="valor.invalid">{{ errorValidValor() }}</mat-error>
    </mat-form-field>

    <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="accent" [disabled]="errorValidName() || errorValidQuantida() || errorValidValor()">ATUALIZAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>